<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Query Service</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div style="clear: both; display: block; height: 20px;"></div>
	<div class="row">
		<div class="col-md-8 offset-md-3">
			<h3>Add answer options for your question:</h3>
			<h4 th:text="${option.question.question}"></h4> <br />
			<form th:object="${option}" th:action="@{/saveoptions}" action="#"
				method="post">


				<label for="option"></label> <input type="text" id="option"
					th:field="*{option}" size="60" autofocus
					placeholder="Add option for your question" /> <input type="hidden"
					th:field="*{question.questionId}"> <input
					class="btn btn-primary" type="submit" value="Add"></input>
			</form>

			<div style="clear: both; display: block; height: 20px;"></div>
				
			<h3>Options:</h3>
			<table>
				<tr th:each="option : ${option.question.choiceOptions}">
					<td th:text="${option.option}"></td>					
					<td><a th:href="@{/deleteoption/{id}(id=${option.optionId})}"
				class="btn btn-danger">Delete</a>
				</td>
				</tr>
			</table>
			
			<div style="clear: both; display: block; height: 20px;"></div>
			<a th:href="@{/createquestions/{id}(id=${option.question.query.id})}" class="btn btn-success">Save options</a>
		</div>
	</div>
</body>