<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Query Service</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

   <form th:object="${question}" th:action="@{/savequestion}" action="#"
		method="post">
		<h3>Create a new question</h3>
		<label for="question">Question</label>
				<input type="text" id="question" th:field="*{title}"/><br/>
				<input type="submit" value="Save"></input>
			</form>
   
</body>