<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Query Service</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div style="clear: both; display: block; height: 20px;"></div>
	<div class="row">
		<div class="col-md-8 offset-md-3">
			
				
				<h3>Add questions for your query: </h3>
				<strong th:text="${query.title}"></strong>
				<h6> Description: </h6>
				<strong th:text="${query.description}"></strong>
				
				<div style="clear: both; display: block; height: 20px;"></div>	
			<h4>Please select the type of a question you would like to make: </h4>
			<!-- th:checked="${option.question.isCheckbox} ? true" -->	
			<form th:object="${question}" th:action="@{/savequestion}" action="#"
				method="post">
				<input type="radio" id="opentext" name="optiontype">
			<label for="opentext">Opentext</label><br>
			<input type="radio" id="checkbox" name="optiontype">
			<label for="checkbox">Checkbox</label><br>
			<input type="radio" id="single" name="optiontype">
			<label for="single">Single option</label><br>
				<label for="question"></label> 
				<input type="text" id="question" th:field="*{title}" size="60" autofocus
					placeholder="Add single answer question" /> 
				<input type="hidden" th:field="*{query.id}"> 
				<input class="btn btn-primary" type="submit" value="Add"></input>
			</form>
			<div style="clear: both; display: block; height: 20px;"></div>
			
			<form th:object="${multichoisequestion}" th:action="@{/savemultichoicequestion}" action="#"
				method="post">
			<label for="multichoicequestion"></label> 
				<input type="text" id="multichoicequestion" th:field="*{question}" size="60"
					placeholder="Add multiple answer question"/> 
				<input type="hidden" th:field="*{query.id}"> 
				<input class="btn btn-primary" type="submit" value="Add"/>
			
			</form>
			
			<div style="clear: both; display: block; height: 20px;"></div>
			<h3>Questions:</h3>
			<table>
				<tr th:each="question : ${questions}">
					<td th:text="${question.title}"></td>
					
				</tr>
			</table>
			<div style="clear: both; display: block; height: 20px;"></div>
			<a href="/" class="btn btn-success">Save query</a>
		</div>
	</div>
</body>