<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Query Service</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
   <form th:object="${query}" th:action="@{testsave}" action="#" method="post">
   <h3>Create new query:</h3>
   <label>Title:</label><input th:field="*{title}" type="text" id="title"/>
   <input type="submit" value="save">
   </form>
   
</body>