<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Query Service</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div style="clear: both; display: block; height: 20px;"></div>
	<div class="row">
		<div class="col-md-8 offset-md-3">
    <h1>Query Service site in the works</h1>
    <h2>Stay tuned...</h2>
   
    <a href="/createquery" class="btn btn-primary">Create query</a>
    <a href="/allqueries" class="btn btn-primary">All queries</a>
    </div>
    </div>
</body>